// Styles and colors

.footer-allrights {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  //   text-align: center;
  color: var(--grey);
}

.footer-bygoit {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

// Something else like display

.footer-container {
  text-align: center;
  max-width: 1280px;
  margin: 0 auto;
}

.footer-svg {
  fill: var(--orange);
  color: var(--orange);
}
