:root {
  --orange: #f87719;
  --grey: #b7b7b7;
  --white: #fff;
  --background: #111;
  --secondary-text: #f8f8f8;
  --secondary-black: #282828;
  --grey-white-theme: #595959;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Montserrat', sans-serif;
  --third-family: 'Gilroy', sans-serif;
}

@import './header.scss';
@import './hero-section.scss';
@import './trends-section.scss';
@import './upcoming-section.scss';
@import './footer.scss';
@import './general-styles.scss';
