//Styles and color below
.upcoming-container {
  margin: 0 32px;
}

.upcoming-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  text-transform: uppercase;
  color: var(--white);
  margin: 80px 0 28px 0;
}

.upcoming-img {
  max-width: 805px;
  max-height: 458px;
  border-radius: 5px;
  margin-right: 16px;
  height: 100%;
  width: 100%;
}

.upcoming-movie-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  color: var(--white);
}

.upcoming-description-text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--grey);
}

.upcoming-rel-date {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--orange);
}

.upcoming-votes {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--background);
  border-radius: 5px;
  padding: 1px 8px;
  width: 36px;
  height: 18px;
  background: var(--white);
}

.upcoming-popularity {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--white);
}

.upcoming-genre {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  width: 150px;
}

.upcoming-about {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 16px;
}

.upcoming-about-description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: var(--secondary-text);
  margin-bottom: 20px;
  max-width: 390px;
}

.upcoming-button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: var(--white);
  cursor: pointer;
  border: none;
  border-radius: 74px;
  padding: 12px 24px;
  width: 140px;
  height: 40px;
  background: linear-gradient(165deg, #ffc226 0%, #f84119 100%);
}

// Everything else below like display flex and
// center in page

.upcoming-div-container {
  display: flex;
  flex-wrap: wrap;
}

.upcoming-votes-idk {
  display: flex;
  gap: 19px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--secondary-text);
}

.tablepad1 {
  padding: 28px 58px 12px 0;
}

.tablepad2 {
  padding: 12px 0 12px 0;
}

.tablepad3 {
  padding: 0 0 20px 0;
}

// Phone
@media only screen and (max-width: 320px) {
  .upcoming-container {
    max-width: 320px;
    margin: 0 20px;
  }

  .upcoming-about {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--secondary-text);
  }

  .upcoming-button {
    border-radius: 74px;
    padding: 12px 24px;
    width: 155px;
    height: 40px;
    font-size: 14px;
  }

  .upcoming-about-description {
    max-width: 700px;
  }

  .upcoming-title {
    font-weight: 500;
    font-size: 16px;
  }

  .upcoming-movie-title {
    font-weight: 500;
    font-size: 20px;
  }

  .upcoming-description-text {
    font-weight: 500;
    font-size: 16px;
  }

  .upcoming-rel-date {
    font-weight: 500;
    font-size: 16px;
  }

  .upcoming-votes-idk {
    border-radius: 5px;
    padding: 1px 8px;
    width: 36px;
    height: 18px;
  }

  .upcoming-votes {
    font-weight: 500;
    font-size: 14px;
  }

  .upcoming-about {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--grey);
  }

  .upcoming-about-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--secondary-text);
  }

  .upcoming-img {
    border-radius: 5px;
    max-width: 280px;
    max-height: 402px;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
  }
}

// Tablet
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .upcoming-container {
    max-width: 768px;
    margin: 0 32px;
  }

  .upcoming-about {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--secondary-text);
  }

  .upcoming-button {
    border-radius: 74px;
    padding: 12px 24px;
    width: 155px;
    height: 40px;
    font-size: 14px;
  }

  .upcoming-about-description {
    max-width: 700px;
  }
}

// Desktop
@media only screen and (max-width: 769px) {
}
