<section>
  <h1 class="upcoming-title">upcoming this month</h1>
  <div class="upcoming-div-container">
    <img class="upcoming-img" id="moviePoster" alt="Poster Film" />
    <div>
      <h1 class="upcoming-movie-title" id="movie-title"></h1>
      <table>
        <tr>
          <td class="upcoming-description-text tablepad1">Release date</td>
          <td class="upcoming-rel-date tablepad1" id="release_date"></td>
        </tr>
        <tr>
          <td class="upcoming-description-text">Vote / Votes</td>
          <td class="upcoming-votes-idk">
            <p class="upcoming-votes" id="voteRating"></p>
            /
            <p class="upcoming-votes" id="voteCount"></p>
          </td>
        </tr>
        <tr>
          <td class="upcoming-description-text tablepad2">Popularity</td>
          <td class="upcoming-popularity tablepad2" id="movie-rating"></td>
        </tr>
        <tr>
          <td class="upcoming-description-text tablepad3">Genre</td>
          <td class="upcoming-genre tablepad3" id="movieGenre"></td>
        </tr>
      </table>
      <h2 class="upcoming-about">ABOUT</h2>
      <p class="upcoming-about-description" id="movie-overview"></p>
      <button class="upcoming-button">Add to my library</button>
    </div>
  </div>
</section>
<script type="script" src="./js/upcoming-section.js"></script>
